#forgotpass-form-id{
    border: 2px solid;
    border-color: cadetblue;
    padding: 27px;
}

#form-header{
    font-size: 40px;
    font-family: serif;
}
#signIn_page{
    float: right;
    text-decoration: underline;
}